form{
  margin-left: 20%;
  display: grid;
  grid-template-columns: 1fr;
  width: 50%;
  padding: 5%;
}

.error {
  color: rgb(221, 0, 0);
}

h1{
  text-align: center;
}

.logoutButton {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1%;
}

.submit {
  margin-top: 4%;
}